#include <windows.h>
#include "resource.h"

1 RT_MANIFEST "/manifest.xml"

ID_CUR_DRAG CURSOR "cursor.cur"

//IDI_ICON ICON "acdc_icon.ico"

DLG_SETTINGS DIALOGEX  100, 50, 200, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Vertex Normal Calculation", DLG_ID_STATIC, 10, 10, 180, 50
    AUTOCHECKBOX "Include Area Weighting", DLG_ID_AREA_WEIGHT, 15, 22, 160, 8
    AUTOCHECKBOX "Include Angle Weighting", DLG_ID_ANGLE_WEIGHT, 15, 34, 160, 8
    LTEXT "(Vanilla models only seem to use area weighting)", DLG_ID_STATIC, 15, 46, 160, 8
END

DLG_PROGRESS DIALOGEX  0, 0, 200, 25
STYLE WS_POPUP | WS_BORDER | DS_CENTER
BEGIN
END

IDM_EDITOR_DLG MENU DISCARDABLE
BEGIN
    POPUP " &File "
        BEGIN
        MENUITEM "&Save", IDDB_SAVE
        END
END

IDM_MAIN MENU DISCARDABLE
BEGIN
    POPUP " &File "
        BEGIN
        MENUITEM "&Load...", IDM_MDL_OPEN
        POPUP "Export"
            BEGIN
            MENUITEM "&Binary...", IDM_BIN_SAVE
            MENUITEM "&ASCII...", IDM_ASCII_SAVE
            END
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_FILE_EXIT
        END
    POPUP " &Options "
        BEGIN
        MENUITEM "&Link to 'neck_g'", IDM_LINK_HEAD
        MENUITEM "&Settings...", IDM_SETTINGS
        END
    POPUP " &Game "
        BEGIN
        MENUITEM "&K1", IDM_GAME_K1
        MENUITEM "&K2", IDM_GAME_K2
        END
    /**
    POPUP "&Help"
    BEGIN
        MENUITEM "&About", IDM_HELP_ABOUT
    END
    /**/
END

